#login-page {
    position: relative;
    width: 650px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #3e4443;
    box-shadow: 0px 0px 30px 3px #ecf0f3;
    border-top-left-radius: 140px;
    border-bottom-right-radius: 140px;
    border: 8px solid darkgrey;
}

#register-page {
    position: relative;
    width: 650px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #3e4443;
    box-shadow: 0px 0px 30px 3px #ecf0f3;
    border-top-left-radius: 140px;
    border-bottom-right-radius: 140px;
    border: 8px solid darkgrey;
}

.container {
    padding: 40px;
}

.brand-logo {
    height: 140px;
    width: 140px;
    border-radius: 27%;
    position: relative;
    top: 22px;
    left: 30px;
}

.brand-logo-container {
    height: 200px;
    width: 200px;
    object-fit: fill;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 3px 18px 4px #cbced1;
    position: relative;
    background-color: white;
}

.container>h1 {
    margin-top: 15px;
    font-weight: 900;
    font-size: 2.7rem;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 17px;
}

label,
input {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 8px;
    font-size: 27px;
    color: white;
    margin-top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label:nth-of-type(2) {
    margin-top: 20px;
}

input::placeholder {
    color: rgba(184, 179, 179, 0.678);
}

label[for="female"] {
    margin-top: 10px;
}

input[type="nickname"],
input[type="password"],
input[type="number"],
input[type="email"] {
    background: #ecf0f3;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

label[for="terms"]>input {
    display: inline;
}

.btn.submit {
    margin-top: 30px;
    background-color: #fd5454;
    height: 60px;
    border-radius: 20px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 0 3px 18px 4px #cbced1;
}

.btn.submit:hover {
    background-color: rgb(192, 129, 117);
    color: white;
}

.container {
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
}

.here {
    color: red;
    text-decoration: underline;
}

.field>span {
    position: absolute;
    font-size: 18px;
    bottom: 17px;
    right: 185px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* background: rgb(255, 255, 255); */
    border-radius: 10px;
    padding: 5px;
}